body {
  background: linear-gradient(120deg,#000,#222);
  font-family: Arial;
}

.login-box {
  width: 300px;
  margin: 120px auto;
  background: #111;
  padding: 25px;
  border-radius: 10px;
  text-align: center;
  color: white;
}

input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
}

button {
  width: 100%;
  padding: 10px;
  background: #00ffaa;
  border: none;
  cursor: pointer;
}

#msg {
  margin-top: 10px;
  color: #ff4444;
}
